.intro{
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;
       
        .imgContainer{
            width: 600px;
            height: 500px;
            margin-top: 70px;
            margin-left: 70px;
            background-color:lightseagreen;
            border-radius: 50%;
            display: flex;
            margin-right: 100%;
            justify-content: center;

            img{
                align-items: baseline;
                height:100%;
            }
        }
    }
    .right{
        flex: 0.5;
        display: relative;
        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            
            justify-content:center;

            h3{
                font-size: 30px;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;
            }
           
            h2{
                font-size: 30px;
                span{
                    font-size: 35px;
                    color: crimson;
                }

                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink{
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 70%;              //for the down arrow to set at 40% away from left
            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            } 

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}